.editorconfig
.eslintrc.js
.prettierrc.json
Jakefile
jest.config.js

tsconfig.json
tsconfig.tsbuildinfo

*.tgz

.github/
.vscode/
lib/

dist/**/*.test.ts
dist/**/*.test.tsx
dist/**/*.test.js
dist/**/*.test.js.map
dist/**/*.test.d.ts
dist/**/*.test.d.ts.map
